@model IEnumerable<StorageLogistic.Models.Products>


@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a> | @*just for admins*@
                <a asp-action="Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestId">Delete</a> | @*just for admins*@
                <a asp-action="Create" asp-controller="Buy" asp-route-id="@item.RequestId">Buy</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a href="/PdfReports/ProductsInStorage" class="btn btn-info" target="_blank">Download Products in Storage Report</a>
    <a href="/PdfReports/LowStockProducts" class="btn btn-info" target="_blank">Download Low Stock Report</a>
    <a href="/PdfReports/StorageIncomesAndOutcomes" class="btn btn-info" target="_blank">Download Storage Operations Report</a>
    <a href="/PdfReports/StuckProducts"  class="btn btn-info" target="_blank">Download Stuck Products Report</a>
</p>
